* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header,
main,
footer,
html {
  background: hsl(223, 100%, 6%);
}
header .netflixImage {
  width: 10%;
  height: 30%;
}
header .headerContent {
  width: 95%;
  margin: auto;
}
.btns {
  display: flex;
  align-items: center;
  position: relative;
}
.btns .iconLanguage {
  color: #fff;
  position: absolute;
  left: 10px;
}
.btns select {
  padding: 0.3rem;
  width: 8rem;
  padding-left: 2rem;
  color: #fff;
  font-weight: 500;
  background: #000;
  box-shadow: inset 2px 2px 2px #fff;
}
.btns button {
  border: none;
  background-color: red;
  padding: 0.3rem;
  width: 7rem;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 10px;
  margin: 0 2rem;
}
/* BACKGROUND WITH MOVIES ON IT */
main .moviesBg {
  background-image: linear-gradient(
      to top right,
      hsl(0, 100%, 17%),
      hsla(237, 100%, 10%, 0.8),
      transparent
    ),
    url('./Assets/images/CA-en-20230522-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  background-size: cover;
  width: 95%;
  height: 80vh;
  margin: auto;
  border-radius: 25px;
  padding: 10rem 0;
  padding-left: 5%;
}
.moviesBg h1 {
  font-size: 5rem;
  max-width: 20ch;
  font-weight: 900;
}
.moviesBg h3 {
  font-size: 2rem;
  font-weight: 900;
  margin: 2rem 0;
}
.moviesBg p {
  font-size: 1.1rem;
  font-weight: 400;
}
.emailAndStart {
  display: grid;
  grid-template-columns: 30% 80%;
}
.emailAndStart .buttonMain {
  background: red;
  margin-left: 1rem;
  width: 12%;
  border: none;
  height: 3.6rem;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 5px;
}
/* INFO SECTION */
.sectionInfo {
  width: 80%;
  margin: auto;
}
.sectionInfo .category {
  display: grid;
  grid-template-columns: 50% 40%;
  align-items: center;
  color: #fff;
}
.sectionInfo .categoryRight {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  color: #fff;
}
.sectionInfo .category img {
  background: radial-gradient(
    hsla(0, 100%, 25%, 0.9),
    hsla(237, 100%, 10%, 0.8)
  );
  border-radius: 5rem;
}
.sectionInfo .categoryRight img {
  background: radial-gradient(
    hsla(0, 100%, 25%, 0.9),
    hsla(237, 100%, 10%, 0.8)
  );
  border-radius: 5rem;
}

.sectionInfo .category .info,
.sectionInfo .categoryRight .infoRight {
  padding-left: 4rem;
}
.sectionInfo .category .info h1,
.sectionInfo .categoryRight .infoRight h1 {
  font-size: 3rem;
}
.sectionInfo .category .info p,
.sectionInfo .categoryRight .infoRight p {
  font-size: 1.3rem;
}
/* QUESTIONS SECTION */
.wrapperQuestions {
  padding-bottom: 4rem;
}
.wrapperQuestions h1 {
  color: white;
  width: 80%;
  font-weight: 700;
  padding-top: 4rem;
  padding-bottom: 2 rem;
  margin: auto;
}
.questions {
  width: 80%;
  margin: auto;
}
article {
  background-color: #132144;
  margin-bottom: 0.6rem;
}
article:first-child {
  margin-top: 3rem;
}
.questions .section-center {
  color: #fff;
}

.questions .section-center .question .question-title {
  display: flex;
  justify-content: space-between;
}
.questions .section-center .question .question-title p {
  font-size: 1.7rem;
  padding: 1.7rem 0.5rem 0.5rem 2rem;
}
.questions .section-center .question .question-title button {
  border: none;
  background: transparent;
  font-size: 2rem;
  padding: 1rem;
  color: #fff;
}
.questions .section-center .question .question-text p {
  padding: 0 2rem;
  font-size: 1.5rem;
}
.questions .section-center .question .question-text p:last-child {
  padding-bottom: 2rem;
}
/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}
/* FOOTER INFORMATION */
footer {
  color: #fff;
}
footer .footerWrap {
  width: 80%;
  margin: auto;
}
footer .footerWrap p {
  font-size: 1.2rem;
  font-weight: 400;
}
footer .footerWrap .bottomContact {
  display: grid;
  grid-template-columns: 30% 10%;
}
footer .footerWrap .bottomContact button {
  background: red;
  border-radius: 8px;
  border: none;
  margin-left: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}
.blocks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.firstBlock ul,
.secondBlock ul,
.thirdBlock ul,
.fourthBlock ul {
  list-style-type: none;
  text-transform: capitalize;
}
.firstBlock a,
.secondBlock a,
.thirdBlock a,
.fourthBlock a {
  color: hsl(188, 9%, 69%);
}
footer .footerWrap .footerInfo p {
  margin: 3rem 0;
}
footer .footerWrap p:last-child {
  margin-top: 2rem;
  padding-bottom: 1rem;
  text-transform: capitalize;
}
footer .footerWrap select {
  padding: 0.3rem;
  width: 8rem;
  padding-left: 2rem;
  color: #fff;
  font-weight: 500;
  background: #000;
  box-shadow: inset 2px 2px 2px #fff;
  position: relative;
}
footer .footerWrap .languageBottom {
  position: relative;
  margin-top: 3rem;
}
footer .footerWrap .iconLanguage {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}
